p
{
    color:black;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px ;
  margin-left: 20px;  
}
h1
{
    color:brown;
    font-family:monospace;
    font-size: 30px;
    text-align: center;
}
h2
{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
    text-align: left;
    margin-right: 20px;
    
}