body
{ 
    background-color: beige;
}
p
{
 color: blueviolet;
  font-family:  Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  border: 2px solid darkolivegreen
  padding: 30px 
}

h1
{
    color:brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p
{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    border: 3px;
    padding-left: 2%;

}
h2
{
    color: violet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}